# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
.env.*
*.sqlite3
*.db
*.log
*.pot
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Data files
doc/
